@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

body {
  background: #323230;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.project {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  backdrop-filter: blur(14px) brightness(80%);
}

.container {
  color: var(--main-colour);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  grid-template-areas:
    "header-left header-left header-right"
    "featured-project featured-project project-1"
    "featured-project featured-project project-2"
    "project-3 project-4 project-4"
    "footer footer footer"
    ;
}

.header-left {
  grid-area: header-left;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 2fr;
  padding: 0 50px;
  /* border-bottom: 5px solid #323230; */
}

.header-left li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}

.header-left a {
  text-decoration: none;
  color: #ccc;
}

.header-left h1 {
  font-weight: 200;
  font-size: 3em;
}

.header-left p {
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 200;
}

.header-right {
  grid-area: header-right;
  /* border-bottom: 5px solid #323230; */
}

.header-right img, .project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-project {
  grid-area: featured-project;
}

.project-1 {
  grid-area: project-1;
}

.project-2 {
  grid-area: project-2;
}

.project-3 {
  grid-area: project-3;
}

.project-4 {
  grid-area: project-4;
}

footer {
  padding: 20px 0;
  text-align: center;
  grid-area: footer;
}